#colormode{
    width: 120px;
    height: 45px;
    cursor: pointer;
    background-color: indianred;
    border: 1px solid indianred;
    color: white;
    margin-left: 700px;
}
#button{
    margin: auto;
    width: 15%;
    margin-top: 50px;
}
#popup{
    margin: auto;
    width: 15%;
    margin-top: 50px;
}
li{
    padding-top: 50px;
    margin-left: 700px;
}
/* .App{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
} */